<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vortex.common.library">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <activity android:name=".MainWidgetMenuActivity">
        </activity>
        <activity android:name="com.vortex.common.demo.ProgressBarTestActivity"/>
    </application>

</manifest>